<div id="compatibility" ng-cloak>

	<table id="compatibilities" class="table table-bordered" style="font-size: 0.8em">
		<thead>
			<tr>
				<td colspan="2" rowspan="2" border="0"></td>
				<td ng-repeat="parameter in parameters | orderBy:'id'" colspan="{{ parameter.attributes.length}}">{{ parameter.name }}</td>
			</tr>
			<tr>
				<!-- render all attributes that exist -->
				<td ng-repeat="attribute in getAllAttributes() | orderBy:'id'">{{ attribute.name }}</td>
			</tr>
		</thead>
		<tbody>

			<!-- repeaten by attribute, nicht parameter. dann parameter per get() holen -->
			
			<!-- skip attributes of first parameter? -->
			<tr ng-repeat="y in getAllAttributes() | orderBy: 'id'">
				<!-- ng hide if rowspan index % length === 0 -->
				<!-- current param in scope reinbinden -->

				<!-- nur einmal pro parameter zeigen -->
				<td data-index="{{ $index }}" ng-if="getOffsets().indexOf($index) >= 0"
					rowspan="{{ getParameterByAttribute(y.id).attributes.length }}">
					{{ getParameterByAttribute(y.id).name }}
				</td>

				<td class="warning">{{ y.name}}</td>

				<!-- jedes weitere attribute hier rein, aber ausgrauen falls die parameterID gleich sind-->
				<td data-ids="[{{ x.id }}, {{ y.id}}]" ng-repeat="x in getAllAttributes() | orderBy: 'id'">
					{{y.name}} - {{x.name}}
				</td>
			</tr>

		</tbody>
	</table>

</div>