<div id="compatibility" ng-cloak>
	<table id="compatibilities" class="table table-bordered" style="font-size: 0.8em">
		<thead>
			<tr>
				<td colspan="2" rowspan="2" border="0"></td>
				<td ng-repeat="parameter in parameters | orderBy:'id'" colspan="{{ parameter.attributes.length}}">{{ parameter.name }}</td>
			</tr>
			<tr>
				<!-- render all attributes that exist -->
				<td ng-repeat="attribute in getAllAttributes() | orderBy:'id'">{{ attribute.name }}</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-if="$index >= getOffsets()[1]" ng-repeat="y in getAllAttributes() | orderBy: 'id'">
				<!-- only show this td if the $index is a "new" parameter -->
				<td data-index="{{ $index }}" ng-if="getOffsets().indexOf($index) >= 0"
					rowspan="{{ getParameterByAttribute(y.id).attributes.length }}">
					{{ getParameterByAttribute(y.id).name }}
				</td>

				<td class="warning">{{ y.name}}</td>
				
				<td ng-class="getParameterByAttribute(y.id).id === getParameterByAttribute(x.id).id ? 'active' : ''"
					data-ids="[{{ x.id }}, {{ y.id}}]" ng-repeat="x in getAllAttributes() | orderBy: 'id'">

					<div ng-if="getParameterByAttribute(y.id).id !== getParameterByAttribute(x.id).id">

						<span ng-click="adding=true" ng-hide="adding == true">
							{{ y.name }} - {{ x.name }}
						</span>

						<div ng-show="adding==true" class="adding-compatibility">
							<input type="hidden" ng-model="attributes" value="[{{ x.id }}, {{ y.id }}]">
							<select ng-change="addCompatibility()" ng-model="rating" ng-options="rating.name for rating in ratings">
								<option value="">Rate</option>
							</select>
						</div>
					</div>
				</td>
			</tr>

		</tbody>
	</table>

</div>