<div id="board">
	<div class="parameter" ng-repeat="parameter in parameters">
		
		<h5>{{ parameter.name }}</h5>

		<div class="add">
			<input type="text" class="text" ng-blur="addAttribute(parameter)" ng-model="parameter.attribute.name" ng-show="parameter.addingAttribute==true">
			<a ng-hide="parameter.addingAttribute==true" ng-click="parameter.addingAttribute=true">Add Attribute</a>
		</div>
		<ul class="attributes">
			<li ng-repeat="attr in parameter.attributes">{{ attr.name }}</li>
		</ul>
		
		<div class="options">
			<span data-toggle="dropdown" class="glyphicon glyphicon-collapse-down"></span>
			<ul class="dropdown-menu" role="menu">
				<!-- <li><a href="#">Rename</a></li> -->
				<li><a href="#" ng-click="removeParameter()">Remove</a></li>
				<!--<li><a href="#">Something else here</a></li>
				<li class="divider"></li>
				<li><a href="#">Separated link</a></li>-->
			</ul>
		</div>
	</div>
	
	<div class="parameter parameter-add">
		<input type="text" class="text" ng-blur="addParameter()" ng-model="parameter.name" ng-show="addingParameter==true">
		<h5 ng-hide="addingParameter==true" ng-click="addingParameter=true">
			<span class="glyphicon glyphicon-plus-sign"></span> Add a Parameter
		</h5>
	</div>
</div>