<ng-include src="'/assets/views/_spinner.html'"></ng-include>

<div id="exploration" ng-show="!rendering">

	<div id="summary" class="row">
		<div class="col-sm-2">
			<div class="alert alert-info">{{ selected.length }} selected</div>
		</div>
		<div style="padding: 8px; font-weight: bold" class="col-sm-1">Remaining:</div>

		<div class="col-sm-2">
			<div class="alert alert-success">{{ good.length }} good fits</div>
		</div>

		<div class="col-sm-2">
			<div class="alert alert-warning">{{ ok.length }} ok fits</div>
		</div>

		<div class="col-sm-2">
			<div class="alert alert-danger">{{ bad.length }} bad fits</div>
		</div>
	</div>

	<div class="board">

		<div class="parameter" ng-repeat="parameter in parameters | orderBy:'id'">
			<h5>{{ parameter.name }}</h5>

			<ul class="attributes">
				<li 
					ng-repeat="attr in parameter.attributes | orderBy:'id'"
					data-attrid="{{ attr.id }}"
					ng-class="{
						'good': good.indexOf(attr.id) > -1 ,
						'ok': ok.indexOf(attr.id) > -1,
						'bad': bad.indexOf(attr.id) > -1,
						'selected': selected.indexOf(attr.id) > -1
					}">
					<div ng-click="getCompatibleAttributes(attr.id);">{{ attr.name }}</div>
				</li>
			</ul>
			
		</div>
	</div>

</div>