<div id="exploration">

	<div id="summary">
		<p>{{ selected.length }} attributes selected</p>
		<p>{{ good.length }} good fits</p>
		<p>{{ ok.length }} ok fits</p>
		<p>{{ bad.length }} bad fits</p>
	</div>

	<div class="board">

		<div class="parameter" ng-repeat="parameter in parameters | orderBy:'id'">
			<h5>{{ parameter.name }}</h5>

			<ul class="attributes">
				<li ng-click="getCompatibleAttributes(attr.id);"
					ng-repeat="attr in parameter.attributes | orderBy:'id'"
					data-attrid="{{ attr.id }}"
					ng-class="{
						'good': good.indexOf(attr.id) > -1 ,
						'ok': ok.indexOf(attr.id) > -1,
						'bad': bad.indexOf(attr.id) > -1,
						'selected': selected.indexOf(attr.id) > -1
					}">
					{{ attr.name }}
				</li>
			</ul>
			
		</div>
	</div>

</div>