<div id="refinement" class="board">

	<div class="parameter parameter-add">
		<input
			type="text input-small"
			class="text"
			ng-blur="addingParameter=false;"
			autofocus="addingParameter"
			ng-model="parameter.name" 
			ng-show="addingParameter"
			placeholder="Enter Name for Parameter"
			ng-enter="addParameter(); addingParameter=false; addingAttribute=true;"
			ng-class="{'adding': addingParameter }"
		>
		<h5 ng-hide="addingParameter" ng-click="addingParameter=true">
			<span class="glyphicon glyphicon-plus-sign"></span> Add a Parameter
		</h5>
	</div>

	<div>{{ draggedParameter }}</div>

	<div
		class="parameter"
		ng-repeat="parameter in parameters | orderBy: 'id':true"
		ng-init="notyours = !yours(parameter.id)"
		ng-class="{ 'notyours': parameter.userId != userId }"
		data-drag="true"
		data-drop="true"
		jqyoui-draggable="{ animate: false }"
		jqyoui-droppable="{ onDrop: 'dropped' }"
		data-jqyoui-options="dragOptions"
		ng-model="draggedParameter"
		>
		
		<h5>{{ parameter.name }}</h5>

		<div ng-click="parameter.addingAttribute=true" class="add">
			<input
				type="text"
				class="text"
				placeholder="Enter Name for Attribute"
				ng-blur="parameter.addingAttribute=false;"
				ng-model="attribute.name"
				ng-show="parameter.addingAttribute"
				autofocus="parameter.addingAttribute"
				ng-enter="addAttribute(parameter, attribute);"
				>
			<a ng-hide="parameter.addingAttribute">Add Attribute</a>	
		</div>
		<ul class="attributes">
			<li ng-repeat="attr in parameter.attributes | orderBy:'id'">
				<div>
					{{ attr.name }}
					<button
						ng-click="removeAttribute(parameter, attr)"
						type="button" class="close">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
				</div>
			</li>
		</ul>
		
		<div class="options">
			<button
				ng-click="removeParameter(parameter)"
				type="button" class="close">
				<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
			</button>
		</div>
	</div>

</div>