#compatibilities td {
	white-space: nowrap; text-align: center;
}
#compatibilities thead td[colspan]:not([rowspan]),
#compatibilities tbody td[rowspan]:not(.active) {
	background: #d9edf7; font-weight: bold; vertical-align: middle;
}
#compatibilities thead td:not([colspan]), #compatibilities td.warning {
	background: #fcf8e3; vertical-align: middle;
}
td.disabled {
	background: #f5f5f5 !important;
}
.highlight {
	background: #428bca !important;
	color: white;
}