@* parameter Template File *@
@(param: Any)
<div class="parameter">
	<h5>Cost</h5>
	<a class="add">Add Attribute</a>
	<ul class="attributes">
		<li>Attr 1</li>
		<li>Attr 2</li>
		<li>Attr 3</li>
		<li>Attr 4</li>
		<li>Attr 5</li>
	</ul>
	
	<div class="options">
		<span data-toggle="dropdown" class="glyphicon glyphicon-collapse-down"></span>
		<ul class="dropdown-menu" role="menu">
			<li><a href="#">Rename</a></li>
			<li><a href="#">Remove</a></li>
			<li><a href="#">Something else here</a></li>
			<li class="divider"></li>
			<li><a href="#">Separated link</a></li>
		</ul>
	</div>
</div>