<!doctype html>
<html lang="en" ng-app="morphBMC" ng-controller="ProblemController">
	<head>
		<meta charset="UTF-8">
		<title>{{ problem.name }}</title>
		<link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
		<link rel="stylesheet" href="/assets/app/bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/definition.css">
		<link rel="stylesheet" href="/assets/css/compatibility.css">
		<link rel="stylesheet" href="/assets/css/exploration.css">
	</head>
	<body>
		<div class="container-fluid" style="margin-top: 20px;">

			<header>
				<h5> {{ problem.id }} - {{ problem.name }} created by {{ problem.userId }} </h5>
			</header>

			<nav> 
				<ul class="nav nav-tabs">
					<li ng-class="{ 'active': currentPath() === '/definition' }">
						<a ng-href="#/definition">Definition</a>
					</li>
					<li ng-class="{ 'active': currentPath() === '/compatibility' }">
						<a ng-href="#/compatibility">Compatibility</a>
					</li>
					<li ng-class="{ 'active': currentPath() === '/exploration' }">
						<a ng-href="#/exploration">Exploration</a>
					</li>
					<li ng-class="{ 'active': currentPath() === '/results' }">
						<a ng-href="#/results">Results</a>
					</li>
				</ul>
			</nav>

			<div style="padding-top: 20px;" ng-view></div>
		</div>

	</body>
	<script src="/assets/app/bower_components/jquery/dist/jquery.js"></script>
	<script src="/assets/app/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/assets/app/bower_components/angular/angular.js"></script>
	<script src="/assets/app/bower_components/angular-route/angular-route.min.js"></script>
	<script src="/assets/app/bower_components/angular-ui/build/angular-ui.min.js"></script>

	<script src="/assets/js/app.js"></script>
	
	<script src="/assets/js/ProblemController.js"></script>

	<script src="/assets/js/DefinitionController.js"></script>
	<script src="/assets/js/CompatibilityController.js"></script>
	<script src="/assets/js/ExplorationController.js"></script>
	<script src="/assets/js/ResultsController.js"></script>
</html>
