@(problemId: Long, userId: String)
<!doctype html>
<html lang="en" ng-app="morphBMC" ng-controller="ProblemController">
	<head>
		<meta charset="UTF-8">
		<title ng-bind="problem.name">morphBMC</title>
		<link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
		<link rel="stylesheet" href="/assets/app/bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/app/bower_components/angular-tablesort/tablesort.css">
		<link rel="stylesheet" href="/assets/app/bower_components/textAngular/textAngular.css">
		<link rel="stylesheet" href="/assets/app/bower_components/components-font-awesome/css/font-awesome.min.css">

		<!-- custom stylesheets per view -->
		<link rel="stylesheet" href="/assets/css/problem.css">
		<link rel="stylesheet" href="/assets/css/statement.css">
		<link rel="stylesheet" href="/assets/css/definition.css">
		<link rel="stylesheet" href="/assets/css/refinement.css">
		<link rel="stylesheet" href="/assets/css/compatibility.css">
		<link rel="stylesheet" href="/assets/css/resolution.css">
		<link rel="stylesheet" href="/assets/css/exploration.css">

		<script>
			// the problem ID everyone is working on
			window.PROBLEM_ID = @problemId;

			// the currently working user
			window.USER_ID = "@userId";
		</script>
	</head>
	<body>
		<div class="container" style="margin-top: 20px;">

			<header id="problem" class="row" ng-cloak>
				<h4 class="pull-left" ng-init="editingName = false">
					<strong 
						title="Click to edit problem name"
						ng-show="!editingName" class="editable"
						ng-click="editingName = true">{{ problem.name }}</strong>
					<input
						ng-show="editingName" type="text" class="text"
						id="name" ng-model="problem.name" value="{{ problem.name }}"
						ng-blur="editName()"
						ng-enter="editName()"
						autofocus="editingName"
						/>
				</h4>
				<h5 class="pull-right">created by {{ problem.owner }}</h5>
			</header>

			<nav class="row"> 
				<ul class="nav nav-tabs">
					<li ng-class="{ 'active': problem.stage === '/statement' }">
						<a href="#/statement" ng-click="changeStage('statement')">Statement</a>
					</li>

					<li ng-class="{ 'active': problem.stage === '/definition' }">
						<a href="#/definition" ng-click="changeStage('definition')">Definition</a>
					</li>

					<li ng-class="{ 'active': problem.stage === '/refinement' }">
						<a href="#/refinement" ng-click="changeStage('refinement')">Refinement</a>
					</li>

					<li ng-class="{ 'active': problem.stage === '/compatibility' }">
						<a href="#/compatibility" ng-click="changeStage('compatibility')">Compatibility</a>
					</li>

					<li ng-class="{ 'active': problem.stage === '/resolution' }">
						<a href="#/resolution" ng-click="changeStage('resolution')">Conflict Resolution</a>
					</li>

					<li ng-if="true" ng-class="{ 'active': problem.stage === '/exploration' }">
						<a href="#/exploration" ng-click="changeStage('exploration')">Exploration</a>
					</li>

					<li ng-if="true" ng-class="{ 'active': problem.stage === '/results' }">
						<a href="#/results" ng-click="changeStage('results')">Results</a>
					</li>
				</ul>
			</nav>

			<div class="row content" style="padding-top: 20px;" ng-view></div>
		</div>

	</body>
	<script src="/assets/app/bower_components/jquery/dist/jquery.js"></script>
	<script src="/assets/app/bower_components/jquery-ui/jquery-ui.min.js"></script>
	<script src="/assets/app/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/assets/app/bower_components/angular/angular.js"></script>
	<script src="/assets/app/bower_components/angular-route/angular-route.min.js"></script>
	<script src="/assets/app/bower_components/angular-ui/build/angular-ui.min.js"></script>
	<script src="/assets/app/bower_components/angular-tablesort/js/angular-tablesort.js"></script>

	<script src="/assets/app/bower_components/textAngular/textAngular-sanitize.min.js"></script>
	<script src="/assets/app/bower_components/textAngular/textAngular.min.js"></script>
	<script src="/assets/app/bower_components/angular-dragdrop/src/angular-dragdrop.min.js"></script>

	<script src="/assets/js/app.js"></script>
	
	<script src="/assets/js/ProblemController.js"></script>
	<script src="/assets/js/DefinitionController.js"></script>
	<script src="/assets/js/RefinementController.js"></script>
	<script src="/assets/js/CompatibilityController.js"></script>
	<script src="/assets/js/ResolutionController.js"></script>
	<script src="/assets/js/ExplorationController.js"></script>
	<script src="/assets/js/ResultsController.js"></script>
	<script src="/assets/js/SocketService.js"></script>
	<script src="/assets/js/CompatibilityService.js"></script>

	
</html>
